#container
{
	position:absolute;

    width: 100%;
    background: #fff;
  
    left: 0px;
    top: 5px;
    z-index: 2;
}

#header
{	padding-left:20%;
	height:80px;
    background: rgb(0,0,0);
    padding: 10px;
    width: 1160px;
}
#picture
{	padding-left:20%;
	height:40px;
    padding: 10px;
    width: 1250px;
}

#code
{
	padding-left:15%;
	
}